<div nz-row nzGutter="16" class="query-box">
  <div nz-col class="gutter-row" nzSpan="5">
    <input nz-input [(ngModel)]="formData.ywh" placeholder="业务号">
  </div>
  <div nz-col class="gutter-row" nzSpan="5">
    <input nz-input [(ngModel)]="formData.bdcdyh" placeholder="不动产单元号">
  </div>
  <div nz-col class="gutter-row" nzSpan="5">
    <gm-tree-select [(ngModel)]="formData.zl" [config]="{key:'code'}" gmPlaceHolder="坐落"></gm-tree-select>
  </div>
  <div nz-col class="gutter-row" nzSpan="5">
    <input nz-input [(ngModel)]="formData.bdcqzh" placeholder="不动产权证号">
  </div>
  <div nz-col class="gutter-row" nzSpan="4">
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
      <div nz-col nzSpan="9"><button nz-button nzType="primary" (click)="getData()">查询</button></div>
      <div nz-col nzSpan="9"><button nz-button nzType="primary">重置</button></div>
      <div nz-col nzSpan="6"><a (click)="moreQueryVisible=true">展开<i class="anticon anticon-left"></i></a></div>
    </div>
  </div>
  <nz-drawer [nzClosable]="false" [nzVisible]="moreQueryVisible" [nzWidth]="450" nzTitle="更多查询条件" (nzOnClose)="moreQueryVisible=false">
    <div nz-row nzGutter="8" nzAlign="middle">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>不动产类型</nz-form-label>
          <nz-form-control>
            <gm-select [(ngModel)]="formData.bdclx" dicType="自然资源类别" gmPlaceHolder="自然资源类别" (ngModelChange)="change($event)"></gm-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>登记大类</nz-form-label>
          <nz-form-control>
            <gm-select [(ngModel)]="formData.djdl" dicType="自然资源状态" gmPlaceHolder="自然资源状态"></gm-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8" nzAlign="middle">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>登记起始时间</nz-form-label>
          <nz-form-control>
            <nz-date-picker [(ngModel)]="formData.djksrq" (ngModelChange)="formData.djksrq = formatDate(formData.djksrq)"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>登记结束时间</nz-form-label>
          <nz-form-control>
            <nz-date-picker [(ngModel)]="formData.djjsrq" (ngModelChange)="formData.djjsrq = formatDate(formData.djjsrq)"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8" nzAlign="middle">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>权利人</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="formData.qlr" placeholder="权利人">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>权利人证件号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="formData.qlrzjh" placeholder="权利人证件号">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8" nzAlign="middle">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>义务人</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="formData.ywr" placeholder="义务人">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>义务人证件号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="formData.ywrzjh" placeholder="义务人证件号">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="8" nzAlign="middle">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>状态</nz-form-label>
          <nz-form-control>
            <gm-select [(ngModel)]="formData.zt" dicType="建筑物状态" gmPlaceHolder="状态"></gm-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-drawer>
</div>
<div class="table-box" #tableBox>
  <nz-table #nzTable  nzSize="small"  [nzData]="dataSet" [nzScroll]="tableScroll" [nzLoading]="loading" [nzFrontPagination]="false" nzShowSizeChanger
[nzTotal]="nzTotal" [(nzPageIndex)]="formData.current" [(nzPageSize)]="pageSize" [nzShowQuickJumper]=true
(nzPageIndexChange)="queryData()">
    <thead>
      <tr>
        <th nzWidth="10%">业务号</th>
        <th nzWidth="10%">单元名称</th>
        <th nzWidth="6%">登记类型</th>
        <th nzWidth="12%">自然资源登记单元号</th>
        <th nzWidth="8%">所有权人</th>
        <th nzWidth="6%">类型</th>
        <th nzWidth="10%">总面积</th>
        <th nzWidth="6%">单位</th>
        <th nzWidth="10%">登记时间</th>
        <th nzWidth="12%">坐落</th>
        <th nzWidth="6%">状态</th>
        <th nzWidth="100px" nzRight="0px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td nzWidth="10%">{{data.ywh}}</td>
        <td nzWidth="10%">{{data.zrzymc}}</td>
        <td nzWidth="6%">{{data.djlx}}</td>
        <td nzWidth="12%">{{data.zrzydjdyh}}</td>
        <td nzWidth="8%">{{data.syqr}}</td>
        <td nzWidth="6%">{{data.lx}}</td>
        <td nzWidth="10%">{{data.zmj}}</td>
        <td nzWidth="6%">{{data.dw}}</td>
        <td nzWidth="10%">{{data.djsj}}</td>
        <td nzWidth="12%">{{data.zl}}</td>
        <td nzWidth="6%">{{data.qszt}}</td>
        <td nzRight="0px">
          <a (click)="checkItem(data)">详情</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
